<link rel="stylesheet" type="text/css" href="views/css/hostGamec.css">


<body>
<div class="table-title">
<h3 id="regional" align="center">LOBBY</h3>
</div>

<div class="promos">  
<div class="promo">
  <div class="deal">
    <span>Player 3</span>

  </div>
  <span class="price">Pratik</span>
  <ul class="features">
    <li>Green Team</li>
 
  </ul>
  <button>View Profile</button>
</div>
<div class="promo scale">
  <div class="deal">
    <span>Player 1</span>

  </div>
  <span class="price">Will</span>
  <ul class="features">
    <li>Red Team</li>

  </ul>
  <button>View Profile</button>
</div>
<div class="promo">
  <div class="deal">
    <span>Player 2</span>
  </div>
  <span class="price">Nigel</span>
  <ul class="features">
    <li>Blue Team</li>
  
  </ul>
  <button>View Profile</button>
</div>
</div>
    <button type="button" class="btn btn-primary" ng-click='goNext("/gamepage")'>PLAY</button>
    <br></br>
    <br></br>

</body>

