<head>
<link rel="stylesheet" type="text/css" href="views/css/leaderboard.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<style type="text/css"> </style>
</head>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="table-title">
<h3 id="regional" align="center">LeaderBoard</h3>
</div>

<table class="table-fill">

<thead>
<tr>
<th class="text-center">Player</th>
<th class="text-center">Score</th>
</tr>
</thead>

<tbody class="table-hover">
<tr>
<td class="text-center">Player 1</td>
<td class="text-center">500</td>
</tr>

<tr>
<td class="text-center">Player 2</td>
<td class="text-center">400</td>
</tr>

<tr>
<td class="text-center">Player 3</td>
<td class="text-center">200</td>
</tr>

<!-- 
<tr>
<td class="text-left">April</td>
<td class="text-left">$ 56,000.00</td>
</tr>

<tr>
<td class="text-left">May</td>
<td class="text-left">$ 98,000.00</td>
</tr>
-->


</tbody>
</table>
<br>
</br>

<div class="bs-example">
    <div class="progress progress-striped">
        <div class="progress-bar progress-bar-info" style="width: 20%">
            <span class="sr-only">20% Complete</span>
        </div>
    </div>
    <div class="progress progress-striped">
        <div class="progress-bar progress-bar-success" style="width: 40%">
            <span class="sr-only">40% Complete</span>
        </div>
    </div>	

    
    <div class="progress progress-striped">
        <div class="progress-bar progress-bar-warning" style="width: 60%">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>

</div>
  

  </body>


